.btn-principal{
    background-color: #556AE8;
    color: #fff;
    opacity: 0.9;
    transition: 0.4s;
}

.btn-principal:hover{
    opacity: 1;
}

.simples{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    color: grey;
}